/* Write your CSS here */
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.toggle-contianer-black {
  text-align: center;
  background-color: black;
  color: white;
  border-radius: 6px;
  padding: 40px;
}
.toggle-contianer-white {
  text-align: center;
  background-color: white;
  color: black;
  border: solid;
  border-radius: 6px;
  padding: 40px;
}
